$circle_underline : #DFE4FD;
$header_color:#2e2e2e;
$count_text_color:#4e4d4d;


$primary_color:#3D3D3D;

$second_page : #EEF3FF;

$footer_font_size : 12px;

$footer_normal_text:#BFBFBF;

$footer_colo_text_color:#6b8aff;

$third_slide_btn_margin_top : 190px;

$four_slide_text_color:#5B8EDC;

$nav_selected_menu:#6B8AFF;
$nav_unselected_menu:#1E1E1E;
$circle_shape:#DFE4FD;
$underline_color:#DFE4FD;
$seconde_pg_bg_color:#EEF3FF;
$line_button:#5B8EDC;
$line_button_text_color:#5B8EDC;
$footer_bg_color:#2F313D;
$footer_text_color:#6B8AFF;
$footer_normal_text_color:#BFBFBF;
$primary_text_color:#3D3D3D;
$secondary_text_color:#757575;
$accent_color:#5190DE;
$meal_text_color:#6B8AFF;
$view_text_count_color:#C59828;
$restuarant_text_count_color:#A32222;
$update_view_text_count_color:#409418;

$btn1bgcolor:#4E9533;
$btn2bgcolor:#E49C3D;
$btn3bgcolor:#E4513D;
$btnbgtransparent:transparent;
$btn5bgcolor:#39B5D0;

$responsiveminwidth:414px;
$responsivemaxwidth:768px;


