.six{
    position:relative;
    min-height:100%;
    background:white;
}

.six .rotate-img{
    display:grid;
    grid-template-columns: 3fr 3fr;
    justify-content: center;
    align-content: center;
    margin-top:10%;
}
    
.circle{
    width:430px;
    height:430px;
    border:2px dashed #BFBFBF;
    border-radius: 50%;
    margin-left:120px;
    margin-top:-100px;
}


.circle img{
    width:50px;
    height:50px;
    border-radius:50%;
    position:absolute;
}

.circle .cir-img1{
    margin-left:105px;
    margin-top:-20px;
}

.circle .cir-img2{
    margin-left: 300px;
}
.circle .cir-img3{
    margin-top: 110px;
    margin-left: -10px;
}

.circle .cir-img4{
    margin-top: 110px;
    margin-left: 385px;
}

.circle .cir-img5{
    margin-top: 260px;
    margin-left: -12px;
}

.circle .cir-img6{
    margin-top: 260px;
    margin-left: 390px;
}

.circle .cir-img7{
    margin-top: 390px;
    margin-left: 105px;
}

.circle .cir-img8{
    margin-top: 385px;
    margin-left: 300px;
}


.six .rotate-img .fb-snap{
    margin-left:50px;
    margin-top:-100px;
}

.six .rotate-img .fb-snap .space{
    height:300px;
   border:0px dashed #BFBFBF;
}

.six .rotate-img .fb-snap .space .fb-page{
    position:absolute;
}

.six .rotate-img .fb-snap .fb_text{
position: relative;
height: 45px;
text-align: center;
}

.six .rotate-img .fb-snap .fb_text p{
    font-family: Helvetica;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a3a3a3;
    position: absolute;
    padding-left:2em;
 }

.six .rotate-img .fb-snap .fb_download{

position: relative;

height: 100px;

}

.six .rotate-img .fb-snap .fb_download a{
    text-decoration:none;
 
 }

 .six .rotate-img .fb-snap .fb_download a img{
    width: 180px;
    height: 80px;
    margin-left: 55px;
}

.six .rotate-img .fb-snap .fb_download a .playstore{
    width: 150px;
    height: 50px;
    margin-top: 15px;
    position: absolute;
}

.six .rotation-img .rotation  figure{
    margin-top:-45%;
    margin-left: 70px;
    text-align:center;
   
}

.six .rotation-img .rotation  figure  img{
    position:relative;
    width:120px;
    height:150px;
}
.footer{
    background:#2F313D;
    display:grid;
    grid-template-columns:2fr 2fr 1fr 2fr;
    
    margin-top:30px;
    color:white;
    height:auto;
    }

    .footer .fungry_logo .footer_logo{
       
            padding-top:70px;
            padding-left:70px;
            height:222px;
           
       }

       .footer .fungry_logo .footer_logo img{
        width:75px;
        height:75px;
        border-radius:5px;
    }

    
    .footer .fungry_logo .footer_logo .fun_text{
         margin-top: 21px;
         left: 160px;
         font-size: 20px;
         font-weight: normal;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
         color: #bfbfbf;
         position: absolute;
     }

     .footer .fungry_logo .footer_logo p{
         margin-top: 100px;
         color:white;
         height: 20px;
         line-height: 1.5;
         font-size:12px;
     }

     .footer .fungry_logo .footer_logo span{
         font-size:12;
         line-height: 8;
         color:white;
     }
    

    .footer .address{
           padding-top:70px;
           color:white;
       }

       .footer .address  p{
        margin-top:40px;
        font-size:12;
        margin-left:35px;
    }


    
       .footer .menu{
            padding-top:35px;
       }

       .footer .menu li .half-line{
                 
        content: ""; 
        display: block;
        margin: 0 auto; 
        width: 10%; 
        padding-top: 0px; 
        border-bottom: 3px solid white; 
        margin-left:-2px;
    }

       .footer .menu  ul{
        list-style: none;
        line-height: 2.4;

    }

    .footer .menu li a:first-child{
        color:white;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        text-align: center;
    
        }

      

     
        .footer .menu li:nth-child(1n+2) a{
            color:white;
            font-size:12px;
            font-family: Helvetica;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
           }
        
    
       .footer .help{
              padding-top:35px;
   
           
        }

        .footer .help li .half-line1{
                 
            content: ""; 
            display: block;
            margin: 0 auto; 
            width: 5%; 
            padding-top: 0px; 
            border-bottom: 3px solid white; 
            margin-left:-2px;
        }

        .footer .help ul{
            list-style: none;
            line-height: 2.4;
          
        }

        .footer .help ul li a:first-child{
            color:white;
            font-family: Helvetica;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 2;
            letter-spacing: normal;
            text-align: center;
        
            }
   
          
   
           .footer .help ul li:nth-child(1n+2) a{
            
                color:white;
                font-size:12px;
                font-family: Helvetica;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
            
            }


    
        .footer .social-media{
            width: 80%;
            margin-top: -20px;
          
        }


        .footer .social-media ul{
            overflow:auto;
            margin-left:150px;
          
        }

        .footer .social-media ul li{
            list-style-type: none;
            float:left;
        }


        .footer .social-media ul li a i{
            background:transparent;
            color: white;
            width : 15px;
            height: 10px;
            border-radius: 50%;
            border:1px solid white;
            font-size: 10px;
            text-align: center;
            margin-right: 10px;
            padding-top:20%;
        }

        .footer .social-media ul li a .fa-instagram{
            border:0px;
            font-size:18px;
            margin-top:5px;
        }

        .footer .social-media ul li a .fa-envelope{
            border:0px;
            font-size:18px;
            margin-top:5px;
        }

  